@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9ff; /* The mutd purple color */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  font-style: normal; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
}
