@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Gowun+Dodum&family=Hepta+Slab:wght@1..900&family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Questrial&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Butterfly+Kids&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DynaPuff:wght@400..700&family=Indie+Flower&family=Meie+Script&family=Merienda:wght@300..900&family=Pacifico&family=Parisienne&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(231, 100%, 99%);
  /* The mutd purple color */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.thin {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.fun {
  font-family: "DynaPuff", system-ui;
  font-weight: 100;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.fun2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.fun3 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.cursive {
  font-family: "Parisienne", cursive;
  font-weight: 300;
  font-style: normal;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
}


#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-4: #d3f4ce;
  --gradient-color-2: #71b8eb;
  --gradient-color-3: #6a60ff;
  --gradient-color-1: #7c98ed;

}

#gradient2-canvas {
  width: 100%;
  height: 100%;
  --gradient2-color-4: #c3f9e7;
  --gradient2-color-2: #71b8eb;
  --gradient2-color-3: #6a60ff;
  --gradient2-color-1: #b8a5ec;

}



#gradient3-canvas {
  width: 100%;
  height: 100%;
  --gradient3-color-4: #c3f9e7;
  --gradient3-color-2: #71b8eb;
  --gradient3-color-3: #6a60ff;
  --gradient3-color-1: #b8a5ec;

}





::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f5;
  /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #bcb6fa;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Round the thumb */
  border: 2px solid #f0f0f5;
  /* Optional: add a border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8984c2;
  /* Darken on hover */
}


@keyframes gradientSpin {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.spinningBorder::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(270deg, #d3f4ce, #abd7f7, #908ae8, #abd7f7);
  background-size: 400% 400%;
  animation: gradientSpin 3s ease infinite;
  transition: opacity 0.3s ease;
  /* Smooth transition for appearance */
  z-index: -1;
  opacity: 0;
}



.spinningBorder:hover::before {
  opacity: 1;
  /* Makes the gradient border visible on hover */
  animation: gradientSpin 3s ease infinite;
  /* Starts the gradient animation */
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fadeDown 0.5s ease-in-out both;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.animate-fade-up {
  animation: fadeUp 0.5s ease-in-out both;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out both;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fadeLeft 0.5s ease-in-out both;
}


@keyframes fadeInward {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-inward {
  animation: fadeInward 1s ease-in-out both;
}



/* Base animation styles */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);

  }

  to {
    opacity: 1;
    transform: translateX(0);

  }
}

/* Fade-in-down animation */
.fade-in-down {
  opacity: 0;
  animation: fadeInDown 0.4s ease-in-out forwards;
}

/* Fade-in-left animation */
.fade-in-left {
  opacity: 0;
  animation: fadeInLeft 0.4s ease-in-out forwards;
}


/* Continuous rolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.keywords-container {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll 10s linear infinite;
  width: max-content;
}

.relative.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.blur-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(to right,
      #fafcff 0%,
      rgba(250, 251, 255, 0) 10%,
      rgba(250, 251, 255, 0) 90%,
      #fafcff 100%);
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-in-out both;
}

.parent-container {
  opacity: 1;
  /* Ensure visible by default */
  transition: opacity 0.3s ease-in-out;
}


@keyframes clickEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    /* Slightly larger */
    opacity: 0.9;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-click {
  animation: clickEffect 0.5s ease-in-out;
}


.icon-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.icon-fade-in.show {
  opacity: 1;
}

@keyframes shrink-grow {
  0% {
    transform: scale(1);
    /* Original size */
  }

  50% {
    transform: scale(0.9);
    /* Slightly shrunk */
  }

  100% {
    transform: scale(1);
    /* Slightly shrunk */
  }
}

.animate-shrink-grow {
  animation: shrink-grow 1s ease-in-out infinite;
  /* 0.33s per cycle, 3 cycles per second */
}



/* Define the continuous motion path with one loop */
.animate-advanced-flight {
  /* Adjust the auto rotation to compensate for the plane's inherent orientation */
  offset-rotate: auto 45deg;

  /* Define a continuous path with one loop */
  offset-path: path("M 0,0 L 300,-150 a 100,100 0 1,1 0,200 a 100,100 0 1,1 0,-200 L 600,-300 a 100,100 0 1,0 0,-200 a 100,100 0 1,0 0,200 L 900,-450");






  /* Start the animation (4s duration; adjust as needed) */
  animation: advancedFlight 4s ease-in-out forwards;
}

@keyframes advancedFlight {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }

  100% {
    offset-distance: 100%;
    opacity: 0;
    /* Optional fade-out */
  }
}


@layer utilities {
  @media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1200px) {
    .tablet-special-height {
      height: 60vh !important;
      /* Adjust as needed */
    }

    .tablet-special-small-margin-top {
      margin-top: 5vh;
    }

    .tablet-special-small-height {
      height: 30vh !important;
    }

  }
}